body{
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.topbar{
    background-color: rgba(128, 128, 128, 0.636);
    margin: 0;
    padding: 0.2px;
    color: black;
}